#hero-body {
	margin-top: 20px;
	height: 20%;
	padding: 10px;
	overflow-y: auto;
	color: #000;
}

.hero {
	display: grid;
	grid-template-columns: 3fr 2fr;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: linear-gradient(
			to bottom,
			rgba(53, 89, 247, 0.2) 0%,
			rgba(66, 1, 119, 0.2) 100%
		),
		url("background-full.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* left column of hero-section */
.hero .hero-left .intro {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	padding: 10px;
}

.hero .hero-left .intro h1 {
	font-family: sans-serif;
	font-size: 60px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
}

.hero .hero-left .intro p {
	font-size: 20px;
	color: #d1d1d1;
	text-transform: uppercase;
	margin: 20px 0;
}

.hero .hero-left .intro button {
	margin-top: 30px;
	background: linear-gradient(
		to right,
		rgba(53, 89, 247, 0.685) 0%,
		rgba(66, 1, 119, 0.685) 100%
	);
	color: #fff;
	padding: 15px 25px;
	border: none;
	border-radius: 50px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
	transition: 1.5s;
}

.hero .hero-left .intro button:hover {
	cursor: pointer;
	color: #fff;
	box-shadow: 0px 0px 20px rgba(87, 52, 107, 0.6);
}
/* failed work */
/* .hero .hero-left .intro #more-info-arrow {
	background-color: black;
	width: 30px;
	height: 30px;
	padding: 5px;
	border-radius: 90px;
} */
